.form_mode_role_edit{
    background-color: lightblue;
}

.form_mode_role_add{
    background-color: lightgreen;
}

.form_mode_role_entity{
  font-weight: bold;
}
.form_mode_role_bundle{
    font-weight: bold;
    font-style: italic;
}
